@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #a1efff, #7ce4ed, #56d9d7, #30cdbc, #00c09e);
}

h1 {
    text-align: center;
    padding: 50px;
    color: darkcyan;
}

#menu {
    color: white;
    background-color: #462f7a;
    padding: 0.7em 1em;
    border: none;
    font-size: 1.2em;
    /* text-transform: uppercase; */
}

#menu:focus {
    background-color: #c1afeb;
    color: #462f7a;
    font-weight: bold;
}

#opzioniMenu {
    position: absolute;
    top: 2.2em;
    display: none;
    list-style: none;
    padding: 0;
    width: fit-content;
    font-size: 1.1em;
}

#opzioniMenu a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.8em 6em 0.8em 1em;
    color: white;
    background-color: #795eb9;
}

.opzioniLista {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
    width: fit-content;
}

.checked {
    opacity: 0.5;
    text-decoration: line-through;
}